@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --Cyan: hsl(171, 66%, 44%);
    --Blue: hsl(233, 100%, 69%);
    --Dark: hsl(210, 10%, 33%);
    --Grayish: hsl(201, 11%, 66%);
    
}

* {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    
}

header {
    height: 60vh;
    width: 1528px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header .bg-desk {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

header .content {
    text-align: center;
    width: 700px;
}

header .logo-icon img {
    height: 60px;
    width: 60px;
    margin-bottom: 15px;
}

header .title,
.section-1 .title,
.section-3 .title,
.section-4 .top .title,
.section-5 .title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: .5px;
}

header .descript,
.section-1 .description,
.section-3 .description,
.section-4 .top .description,
.section-5 .content .description {
    font-size: 20px;
    line-height: 30px;
    margin: 18px 0 25px 0;

    color: var(--Cyan);
}

header button,
.section-5 .content button  {
    color: white;
    border: 2px solid var(--Grayish);
    border-radius: 30px;
    background: var(--Grayish);

    letter-spacing: .5px;
    padding: 10px 30px;
    margin: 5px 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

header button:nth-child(2),
.section-5 .content button:nth-child(2) {
    background: var(--Blue);
}

header button:hover,
.section-5 .content button:hover {
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}

.section-1 {
    width: 1528px;
    height: 28vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 .content {
    text-align: center;
    width: 760px;
}
/* Section 2 */
.section-2 {
    width: 1528px;
    height: 80vh;

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.section-2 img {
    width: 750px;
    height: 550px;
    padding: 80px 0 0 100px;
}

.section-2 .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
    padding-left: 80px;
}

.section-2 .details .title,
.section-4 .content .title {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: .5px;
    margin-bottom: 10px;
}

.section-2 .details .description,
.section-4 .content .description {
    color: var(--Grayish);
    width: 400px;
    line-height: 28px;
    letter-spacing: .5px;
    font-size: 17px;
}

.section-3 {
    width: 1528px;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-3 .content {
    text-align: center;
    padding-top: 250px;
}

.section-3 .description {
    width: 740px;
}

.section-3 img {
    width: 800px;
    margin-top: 50px;
}

.section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 110vh;
    
}

.section-4 .top {
    display: flex;
    flex-direction: column;
}

.section-4 .top .title {
    margin-top: 200px;

}

.section-4 .top .description {
    font-size: 18px;
}

.section-4 .mid {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.section-4 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

    width: 400px;
}

.section-4 .content .title {
    margin-top: 15px;
}

.section-4 .bottom {
    margin-top: 100px;
}

.section-4 .company-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.section-4 .bottom img {
    width: 130px;
    height: 100pxx;
}

/* S5 */
.section-5 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50vh;
}

.section-5 .content {
    margin-top: 10px;
    text-align: center;
    
}

.section-5 .content .description {
    width: 750px;
}

footer {
    background: rgb(252, 249, 249);
    width: 1528px;
    height: 25vh;

    display: flex;
    justify-content: start;
    align-items: center;
}


footer .content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;

    padding-left: 200px;
}

footer .details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 60px;
}

footer .details a {
    text-decoration: none;
    color: var(--Dark);
    padding: 50px;
    font-size: 16px;
    letter-spacing: .5px;
    transition: .3s ease;
    font-weight: 600;
}

footer .details div a:hover {
    text-decoration: underline;
}

footer img {
    width: 50px;
    height: 50px;
}

footer .social-icon {
    margin-left: 250px;
}

footer .social-icon a img {
    width: 20px;
    height: 20px;
    margin-left: 25px;
}

footer .social-icon a {
    text-decoration: none;
}

@media screen and (max-width: 376px) {
    
    header {
        width: 400px;
        height: 100%;
    }

    header .bg-desk {
        width: 450px;
        height: 100%;
    }

    header .content {
        padding: 50px 0 0 50px;
    }

    .section-1 {
        margin-top: -20px;
        padding-top: 100px;
        padding-left: 10px;
        width: 400px;
        height: 100%;
    }

    .section-2 {
        width: 400px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .section-2 img{
        width: 100%;
        height: 100%;
        margin-left: -30px;
    }

    .section-3 img {
        width: 100%;
        height: 100%;
        margin-left: -70px;
    }

    .section-2 .content,
    .section-3 .content {
        text-align: center;
        margin-left: -50px;
    }

    .section-3 {
        width: 400px;
        height: 100%;
        margin-top: -120px;
        padding-left: 100px;
    }

    .section-3 .description {
        width: 400px;
    }

    .section-4 {
        width: 400px;
        height: 100%;

        display: flex;
        flex-direction: column;
        padding-left: 50px;
        text-align: center;
        margin-top: -80px;
    }
    

    .mid {
        display: flex;
        flex-direction: column;
    }

    .section-4 .company-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    .section-5 {
        width: 400px;
        height: 100%;
        margin-bottom: 50px;
    }
    
    .section-5 .content {
        padding-top: 100px;
        padding-left: 50px;
        width: 400px;
        height: 100%;

        display: flex;
        flex-direction: column;
    }
 
    .section-5 .content .description {
        width: 300px;
        padding-left: 50px;
    }

    footer {
        width: 430px;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer img {
        margin: 50px 0 0 50px;
    }

    footer .content {
        padding-right: 60%;
        width: 200px;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer .details div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    footer .social-icon {
        display: flex;
        margin: 50%;
        margin-bottom: 50px
    }

    footer .social-icon a img {
        width: 30px;
        height: 30px;
    }

}